venv/
__pycache__/
.env
.vscode/
airflow/.env
airflow/airflow_data/
airflow/dags/__pycache__
item_map.json
user_map.json
localprops/results/
localprops/split_files/
models/
test.txt
localprops/
image/
dummy_code/
tower_code/wandb/
tower_code/log.txt
tower_code/prev_logic_folder/